{{ $type := .type | default "solid" }}
{{ $href := .href | default "#" }}
{{ $label := .label | default "Placeholder" }}
{{ $bgClass := "" }}
{{ $textClass := "" }}
{{ $borderClass := "" }}
{{ $hoverClass := "" }}
{{ $focusRingClass := "" }}
{{ $shapeClass := "" }}
{{ $edgesStyle := .Site.Params.edges | default "round" }}
{{ if eq $edgesStyle "sharp" }}
  {{ $shapeClass = "rounded-none" }}
{{ else if eq $edgesStyle "curved" }}
  {{ $shapeClass = "rounded-lg" }}
{{ else if eq $edgesStyle "round" }}
  {{ $shapeClass = "rounded-full" }}
{{ end }}
{{ if eq $type "solid" }}
    {{ $bgClass = "bg-primary" }}
    {{ $textClass = "text-white" }}
    {{ $borderClass = "border-2 border-primary" }}
    {{ $hoverClass = "hover:bg-primary-darken hover:border-primary-darken" }}
    {{ $focusRingClass = "focus:ring-primary focus:ring-offset-body" }}
{{ else if eq $type "outline" }}
    {{ $bgClass = "bg-transparent" }}
    {{ $textClass = "text-primary" }}
    {{ $borderClass = "border-2 border-primary" }}
    {{ $hoverClass = "hover:bg-primary-darken/10 hover:text-primary-darken hover:border-primary-darken" }}
    {{ $focusRingClass = "focus:ring-primary focus:ring-offset-body" }}
{{ else if eq $type "solid-alt" }}
    {{ $bgClass = "bg-white" }}
    {{ $textClass = "text-primary" }}
    {{ $borderClass = "border-2 border-white" }}
    {{ $hoverClass = "hover:bg-white-darken hover:border-white-darken " }}
    {{ $focusRingClass = "focus:ring-white focus:ring-offset-primary" }}
{{ else if eq $type "outline-alt" }}
    {{ $bgClass = "bg-transparent" }}
    {{ $textClass = "text-off-black" }}
    {{ $borderClass = "border-2 border-off-black" }}
    {{ $hoverClass = "hover:bg-white/10" }}
    {{ $focusRingClass = "focus:ring-off-black focus:ring-offset-primary" }}
{{ else if eq $type "ghost" }}
    {{ $bgClass = "bg-transparent" }}
    {{ $textClass = "text-button" }}
    {{ $borderClass = "" }}
    {{ $hoverClass = "hover:bg-gray-100 hover:text-button" }}
    {{ $focusRingClass = "focus:ring-button" }}
{{ else if eq $type "danger" }}
    {{ $bgClass = "bg-red-600" }}
    {{ $textClass = "text-white" }}
    {{ $borderClass = "" }}
    {{ $hoverClass = "hover:bg-red-700" }}
    {{ $focusRingClass = "focus:ring-red-500" }}
{{ else if eq $type "success" }}
    {{ $bgClass = "bg-green-600" }}
    {{ $textClass = "text-white" }}
    {{ $borderClass = "" }}
    {{ $hoverClass = "hover:bg-green-700" }}
    {{ $focusRingClass = "focus:ring-green-500" }}
{{ else if eq $type "warning" }}
    {{ $bgClass = "bg-yellow-600" }}
    {{ $textClass = "text-white" }}
    {{ $borderClass = "" }}
    {{ $hoverClass = "hover:bg-yellow-700" }}
    {{ $focusRingClass = "focus:ring-yellow-500" }}
{{ end }}

<a href="{{ $href }}" 
    class="btn-base {{ $bgClass }} {{ $textClass }} {{ $borderClass }} {{ $hoverClass }} {{ $focusRingClass }} {{ $shapeClass }}">
    {{ $label }}
</a>