{{ $type := .type | default "solid" }}
{{ $href := .href | default "#" }}
{{ $label := .label | default "Placeholder" }}
{{ $bgClass := "" }}
{{ $textClass := "" }}
{{ $borderClass := "" }}
{{ $hoverClass := "" }}
{{ $focusRingClass := "" }}
{{ $shapeClass := "" }}
{{ $edgesStyle := .Site.Params.style_rules.edges | default "round" }}
{{ if eq $edgesStyle "sharp" }}
  {{ $shapeClass = "rounded-none" }}
{{ else if eq $edgesStyle "curved" }}
  {{ $shapeClass = "rounded-lg" }}
{{ else if eq $edgesStyle "round" }}
  {{ $shapeClass = "rounded-full" }}
{{ end }}
{{ if eq $type "solid" }}
    {{ $bgClass = "bg-primary" }}
    {{ $textClass = "text-inverse" }}
    {{ $borderClass = "border-2 border-primary" }}
    {{ $hoverClass = "hover:bg-primary-darken hover:border-primary-darken" }}
    {{ $focusRingClass = "focus:ring-primary focus:ring-offset-body" }}
{{ else if eq $type "outline" }}
    {{ $bgClass = "bg-transparent" }}
    {{ $textClass = "text-primary" }}
    {{ $borderClass = "border-2 border-primary" }}
    {{ $hoverClass = "hover:bg-primary-darken/10 hover:text-primary-darken hover:border-primary-darken" }}
    {{ $focusRingClass = "focus:ring-primary focus:ring-offset-body" }}
{{ else if eq $type "solid-alt" }}
    {{ $bgClass = "bg-surface" }}
    {{ $textClass = "text-primary" }}
    {{ $borderClass = "border-2 border-surface" }}
    {{ $hoverClass = "hover:bg-white-darken hover:border-white-darken " }}
    {{ $focusRingClass = "focus:ring-inverse focus:ring-offset-primary" }}
{{ else if eq $type "outline-alt" }}
    {{ $bgClass = "bg-transparent" }}
    {{ $textClass = "text-off-black" }}
    {{ $borderClass = "border-2 border-off-black" }}
    {{ $hoverClass = "hover:bg-surface/10" }}
    {{ $focusRingClass = "focus:ring-off-black focus:ring-offset-primary" }}
{{ else if eq $type "ghost" }}
    {{ $bgClass = "bg-transparent" }}
    {{ $textClass = "text-primary" }}
    {{ $borderClass = "" }}
    {{ $hoverClass = "hover:bg-surface-hover hover:text-primary-darken" }}
    {{ $focusRingClass = "focus:ring-primary" }}
{{ else if eq $type "danger" }}
    {{ $bgClass = "bg-danger" }}
    {{ $textClass = "text-inverse" }}
    {{ $borderClass = "" }}
    {{ $hoverClass = "hover:bg-danger-darken" }}
    {{ $focusRingClass = "focus:ring-danger-ring" }}
{{ else if eq $type "success" }}
    {{ $bgClass = "bg-success" }}
    {{ $textClass = "text-inverse" }}
    {{ $borderClass = "" }}
    {{ $hoverClass = "hover:bg-success-darken" }}
    {{ $focusRingClass = "focus:ring-success-ring" }}
{{ else if eq $type "warning" }}
    {{ $bgClass = "bg-warning" }}
    {{ $textClass = "text-inverse" }}
    {{ $borderClass = "" }}
    {{ $hoverClass = "hover:bg-warning-darken" }}
    {{ $focusRingClass = "focus:ring-warning-ring" }}
{{ end }}

<a href="{{ $href }}" 
    class="btn-base {{ $bgClass }} {{ $textClass }} {{ $borderClass }} {{ $hoverClass }} {{ $focusRingClass }} {{ $shapeClass }}">
    {{ $label }}
</a>