{{ $type := .type | default "solid" }}
{{ $href := .href | default "#" }}
{{ $label := .label | default "Placeholder" }}
{{ $bgClass := "" }}
{{ $textClass := "" }}
{{ $borderClass := "" }}
{{ $hoverClass := "" }}
{{ $focusRingClass := "" }}
{{ if eq $type "solid" }}
    {{ $bgClass = "bg-primary dark:bg-dark-primary" }}
    {{ $textClass = "text-white" }}
    {{ $borderClass = "border-2 border-primary dark:border-dark-primary" }}
    {{ $hoverClass = "hover:bg-primary-darken dark:hover:bg-dark-primary-darken hover:border-primary-darken dark:hover:border-dark-primary-darken" }}
    {{ $focusRingClass = "focus:ring-primary focus:ring-offset-body dark:focus:ring-offset-dark-body" }}
{{ else if eq $type "outline" }}
    {{ $bgClass = "bg-transparent" }}
    {{ $textClass = "text-primary dark:text-white" }}
    {{ $borderClass = "border-2 border-primary dark:border-dark-primary" }}
    {{ $hoverClass = "hover:bg-primary-darken/10 dark:hover:bg-dark-primary-darken/10 hover:text-primary-darken dark:hover:text-white hover:border-primary-darken dark:hover:border-dark-primary-darken" }}
    {{ $focusRingClass = "focus:ring-primary focus:ring-offset-body dark:focus:ring-offset-dark-body" }}
{{ else if eq $type "solid-alt" }}
    {{ $bgClass = "bg-white" }}
    {{ $textClass = "text-primary dark:text-dark-primary" }}
    {{ $borderClass = "border-2 border-white" }}
    {{ $hoverClass = "hover:bg-white-darken hover:border-white-darken " }}
    {{ $focusRingClass = "focus:ring-white focus:ring-offset-primary dark:focus:ring-offset-dark-primary" }}
{{ else if eq $type "outline-alt" }}
    {{ $bgClass = "bg-transparent" }}
    {{ $textClass = "text-off-black dark:text-white" }}
    {{ $borderClass = "border-2 border-off-black dark:border-white" }}
    {{ $hoverClass = "hover:bg-white/10 dark:hover:bg-off-black/10" }}
    {{ $focusRingClass = "focus:ring-off-black focus:ring-offset-primary dark:focus:ring-white dark:focus:ring-offset-dark-primary" }}
{{ else if eq $type "ghost" }}
    {{ $bgClass = "bg-transparent" }}
    {{ $textClass = "text-button dark:text-blue-400" }}
    {{ $borderClass = "" }}
    {{ $hoverClass = "hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-button dark:hover:text-blue-400" }}
    {{ $focusRingClass = "focus:ring-button" }}
{{ else if eq $type "danger" }}
    {{ $bgClass = "bg-red-600" }}
    {{ $textClass = "text-white" }}
    {{ $borderClass = "" }}
    {{ $hoverClass = "hover:bg-red-700" }}
    {{ $focusRingClass = "focus:ring-red-500" }}
{{ else if eq $type "success" }}
    {{ $bgClass = "bg-green-600" }}
    {{ $textClass = "text-white" }}
    {{ $borderClass = "" }}
    {{ $hoverClass = "hover:bg-green-700" }}
    {{ $focusRingClass = "focus:ring-green-500" }}
{{ else if eq $type "warning" }}
    {{ $bgClass = "bg-yellow-600" }}
    {{ $textClass = "text-white" }}
    {{ $borderClass = "" }}
    {{ $hoverClass = "hover:bg-yellow-700" }}
    {{ $focusRingClass = "focus:ring-yellow-500" }}
{{ end }}

<a href="{{ $href }}" 
    class="btn-base {{ $bgClass }} {{ $textClass }} {{ $borderClass }} {{ $hoverClass }} {{ $focusRingClass }}">
    {{ $label }}
</a>