{{ $clickable := .clickable | default true }}
{{ $showTitle := .show_title | default true }}
{{ with .ctxt }}
<section class="container">
        <div class="py-12">
            {{- if $showTitle -}}
            <h2 class="text-center text-3xl font-bold mb-6 text-primary">
                <a href="{{ .RelPermalink }}" class="hover:underline focus:outline-none focus:ring-2 focus:ring-primary rounded">
                    {{ .Title }}
                </a>
            </h2>
            {{- end -}}
            <div class="row flex justify-center items-center gap-12 flex-wrap w-2/3 mx-auto">
            {{ range .Pages.ByWeight }}
                {{ if $clickable }}
                  {{ if .Params.link }}
                <a href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer" title="{{ .Title }}" alt="{{ .Title }}">
                    {{ partial "components/general-img-load.html" (dict "ctxt" . "placement" "Grid" "isPhoto" false) }}
                </a>
                  {{ else }}
                <a href="{{ .RelPermalink }}" class="" title="{{ .Title }}" alt="{{ .Title }}">
                    {{ partial "components/general-img-load.html" (dict "ctxt" . "placement" "Grid" "isPhoto" false) }}
                </a>
                  {{ end }}
                {{ else }}
                <div title="{{ .Title }}">
                    {{ partial "components/general-img-load.html" (dict "ctxt" . "placement" "Grid" "isPhoto" false) }}
                </div>
                {{ end }}
            {{ end }}
        </div>
</section>
{{ end }}
