{{- $upcomingEvents := slice -}}
{{ with .Site.GetPage "/events" }}
    {{ range .Pages }}
    {{ $eventDate := time.AsTime .Params.event_date }}
        {{- if ge $eventDate (now) -}}
            {{- $upcomingEvents = $upcomingEvents | append . -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
<section class="py-10 md:py-18">
    <div class="container">
        <h2 class="text-3xl font-bold mb-8 text-primary text-center">
            <a href="{{ with .Site.GetPage "/events" }}{{ .RelPermalink }}{{ end }}" class="hover:underline focus:outline-none focus:ring-2 focus:ring-primary rounded">
                Upcoming Events
            </a>
        </h2>
        
        {{- if $upcomingEvents -}}
            <div class="flex flex-wrap justify-center gap-6 text-center">
                {{- range (first 3 (sort $upcomingEvents "Params.event_date" "asc")) -}}
                <div class="w-full md:w-[calc(50%-0.75rem)] lg:w-[calc(33.333%-1rem)] max-w-xl">
                    {{ partial "components/card-event" . }}
                </div>
                {{- end -}}
            </div>
        {{- else -}}
            <p class="text-secondary text-2xl text-center py-8">
                No upcoming events at this time.
            </p>
        {{- end -}}
    </div>
</section>
