<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale | default "en" }}" class="scroll-smooth">
<head>
    {{ partial "essentials/head.html" . }}
    {{ with (templates.Defer (dict "key" "global")) }}
    {{ partial "essentials/css.html" . }}
    {{ end }}
</head>
<body class="bg-body text-off-black transition-colors duration-200 font-exo">
    <a href="#main-content" class="sr-only focus:not-sr-only focus:absolute focus:top-4 focus:left-4 focus:z-50 focus:px-4 focus:py-2 focus:bg-blue-600 focus:text-white focus:rounded">
        Skip to main content
    </a>
    
    {{ partial "essentials/header.html" . }}
    
    <main id="main-content" tabindex="-1">
        {{ block "main" . }}{{ end }}
    </main>
    
    {{ partial "essentials/footer.html" . }}
    {{ partial "components/back-to-top.html" . }}
</body>
</html>