<section class="">
    <div class="container-sm mx-auto">
        <div class="py-12">
            <h2 class="text-center text-3xl font-bold mb-6 text-primary">Awards and Recognition</h2>
            <div class="row flex justify-center items-center gap-12 flex-wrap w-2/3 mx-auto">
                {{ range .Page.Params.client_logos }}
                {{ $logoLink := printf "./images/logos/%s" (.logo) }}
                <img src="{{ $logoLink | relURL }}" class="h-10 md:h-30" alt="{{ .name }}" />
                {{ end }}
            </div>
        </div>
    </div>
</section>
