{{ define "main" }}

<!-- Hero Section -->
{{ partial "components/hero.html" (dict "ctxt" .) }}

{{ with .Params.inline_cta_1 }}
  {{ partial "components/cta-display.html" (dict "ctxt" $ "location" "inline" "cta" .) }}
{{ end }}

<!-- Upcoming Events section -->
{{ if .Params.upcomingEventsSection }}
  {{ partial "components/upcoming-events.html" . }}
{{ end }}

<!-- Awards and Recognition section -->
{{ if .Params.awardsSection }}
  {{ partial "components/logo-display.html" (dict "ctxt" . "collection" "/awards-and-recognition") }}
{{ end }}

{{ with .Params.inline_cta_2 }}
  {{ partial "components/cta-display.html" (dict "ctxt" $ "location" "inline" "cta" .) }}
{{ end }}

<!-- Services Detail Panels section -->
{{ if .Params.servicesSection }}
  {{ partial "service-details.html" (dict "ctxt" . "collection" "/services") }}
{{ end }}

<!-- Worked With section -->
{{ if .Params.workingWithSection }}
  {{ partial "components/logo-display.html" (dict "ctxt" . "collection" "/working-with") }}
{{ end }}

<!-- Latest Blog Posts -->
{{ if .Params.blogSection }}
  {{ partial "recent-posts.html" . }}
{{ end }}

<!-- CTA Section -->
{{ partial "components/cta-display.html" (dict "ctxt" . "location" "footer") }}
{{ end }}