{{ define "main" }}

<!-- Hero Section -->
{{ partial "components/hero.html" (dict "format" "overview" "ctxt" .) }}

<!-- Upcoming Events section -->
{{ partial "components/upcoming-events.html" . }}

<!-- Working With section -->
{{ partial "components/logo-grid.html" (dict "ctxt" . "gridCollection" "/working-with") }}

<!-- Services Detail Panels section -->
{{ partial "service-details.html" (dict "ctxt" . "collection" "/services") }}

<!-- Awards and Recognition section -->
{{ partial "components/logo-grid.html" (dict "ctxt" . "gridCollection" "/awards-and-recognition") }}

<!-- Latest Blog Posts -->
{{ partial "recent-posts.html" . }}

<!-- CTA Section -->
{{ with .Params.footer_cta }}
      <!-- Get cta file based on value in md file of section -->
      {{ with $.Site.GetPage (printf "/cta/%s" .) }}
        {{ partial "components/footer-cta.html" . }}
      {{ end }}
    {{ end }}
{{ end }}